.layout{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 50px;
    row-gap: 20px;
    column-gap: 20px;
}

.comic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover{
        zoom: 101%;
    }
}

.button-details{
    display: flex;
    justify-content:center;
    text-align: center;
    
    >button{
        display: flex;
        justify-content: center;
        background: #fff;
        font-size: 1rem;
        max-width: 15rem;
        cursor: pointer;

        &:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
          }
    }
}
.Card{
    justify-content:center;
}

