.header{
    display:flex;
    justify-content:space-evenly;

    >div{
       
        padding:20px
    }

    .input-busca{
        display: flex; 
        width:40%;
        gap: 10px;
        > input{
            height: 40px;
            width:100%
        }
        >button{
            height: 40px;
        }
    }


    .user-area{
        display:flex;
        gap: 10px;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
   }
.logo {
height: 75px;
width: 150px;
}

.user-area {
    display: flex;
    justify-content: center;
height: 50px;
width: 100px;
}